.numericKeyboard .key{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 7px;
    line-height: 100px;
    text-align: center;
    background-color: blue;
    color: cyan;
    font-size: 38px;
    text-shadow: 0 1px 0 black;
    border: 1px solid black;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,5179d1+45,303db2+100 */
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 0%, #5179d1 45%, #303db2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7abcff 0%,#5179d1 45%,#303db2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7abcff 0%,#5179d1 45%,#303db2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#303db2',GradientType=0 ); /* IE6-9 */
}