<div class="mainUser">
    <div id="userImage"></div>
    <div id="userName"></div>
</div>

<!--
<a class="navbar-item" href="./#/home">
    Home
</a><br>
<a class="navbar-item" href="./#/about">
    About
</a><br>
<a class="navbar-item" href="./#/secret">
    Secret
</a><br>
</div>
-->

<ul id="topMenuItems">
    <li class="focusable" data-focus-action-function="window.router.goTo('./#/clock')" ><a href="">Clock</a></li>
    <li class="focusable" data-focus-action-function="window.router.goTo('./#/stopwatch')" ><a href="">Stopwatch</a></li>
    <li class="focusable" data-focus-action-function="window.router.goTo('./#/timer')" ><a href="">Timer</a></li>
    <li class="focusable" data-focus-action-function="window.router.goTo('./#/about')" ><a href="">About</a></li>
</ul>