<div class="mainUser">
    <div id="userImage"></div>
    <div id="userName"></div>
</div>

<!--
<a class="navbar-item" href="./#/home">
    Home
</a><br>
<a class="navbar-item" href="./#/about">
    About
</a><br>
<a class="navbar-item" href="./#/secret">
    Secret
</a><br>
</div>
-->

<ul id="topMenuItems">
    <li class="focusable"><a href="./#/clock">Clock</a></li>
    <li class="focusable"><a href="./#/stopwatch">Stopwatch</a></li>
    <li class="focusable"><a href="./#/timer">Timer</a></li>
    <li class="focusable"><a href="./#/about">About</a></li>
</ul>